.list-page__container{
    background: #313131;
    height: min-content;
    border-radius: 20px;
    padding:40px;
}   

.list-page__header{
    color:white;
}

.list-page__movies-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap:30px;
    font-family: "Ubuntu Sans", sans-serif;
}
.list-page__movies{
    display: grid;
    grid-template-columns:  auto auto;
    column-gap: 25px;
    row-gap: 60px;
}

.list-page__button{
    padding:10px 40px;
    background:rgb(255, 238, 0);
    border: none;
    border-radius: 12px;
    font-weight: 700;
}

.list-page__button:hover{
    background: rgb(255, 246, 120);
}


.list-page__movies-item{
    display: flex;
    width: min-content;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
}

.movies-item__poster{
    width: 75px;
    height: 111.5px;
    margin-bottom: -2px;
}

.list-page__empty{
    color:white;
}

.movies-item__title{
    color:white;
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
    padding-top: 5px;
    padding-bottom: 10px;
}

.movies-item__delete-button{
    padding:10px;
    background: red;
    color:white;
    font-weight: 700;
    border: none;
    border-radius: 12px;
}

.movies-item__delete-button:hover{
    background: rgb(255, 67, 67);
}

.link-page__movies-watch-button{
    text-decoration: none;
    color:white;
    width: 135px;
    text-align: center;
    padding:10px 40px;
    background:rgb(0, 119, 255);
    border: none;
    border-radius: 12px;
    font-weight: 700;
}

.link-page__movies-watch-button:hover{
    background: rgb(84, 164, 255);
}