.search-bar-container{
    display: flex;
    position: relative;
    align-items: center;
}

.search-bar__input::placeholder {
    color: #969696;
}
.search-bar__input{
    padding:10px 30px;
    padding-left: 80px;
    min-width: 400px;
    background: #10161D;
    border: none;
    outline: none;
    border-radius: 10px;
    z-index: 1;
    color:white;
}

.search-bar__button{
    position: absolute;
    z-index: 2;
    border: none;
    background: #969696;
    color:white;
    border-radius: 10px;
    padding:10px;
    right: 0;
}

.search-bar__button:hover{
    background: #333333;
}


@media screen and (max-width:990px) {
    .search-bar__input{
        padding:10px 10px;
        padding-left: 20px;
        min-width: 250px;
    }
    .search-bar__input::placeholder{
        content: "Search...";
    }
}

@media screen and (max-width:700px) {
    .search-bar__button{
        display: none;
    }

    .search-bar__input{
        min-width: 100px;
    }
}

