.header-container{
    font-family: "Ubuntu Sans", sans-serif;
    display: flex;
    height: 90px;
    background: black;
    padding:40px;
    align-items: center;
    justify-content: space-around;
}

.header-container__buttons{
    display: flex;
    gap:10px;
    align-items: center;
}
.header-container__buttons-favorites{
    font-weight: 700;
    background:rgb(255, 238, 0);
    border: none;
    padding:12px 20px;
    border-radius: 5px;
    text-align: center;
    gap:20px;
}

.header-container__buttons-favorites:hover{
    background: rgb(255, 246, 120);
}

.header-container-buttons-favorites_count{
    border: 1px solid black;
    border-radius: 40%;
    padding:0px 7px;
    margin-left: 5px;
}

.header-container__logo{
    display: flex;
    align-items: center;
}

.header-container__logo-image{
   width: 200px;
}

.header-container__logo-text{
    color:white;
}

.header-container__buttons-sign-in{
    border-radius: 5px;
    padding:13px 20px;
    color:white;
    background: #10161D;
    border:none;
    text-align: center;
}

.header-container__buttons-sign-in:hover{
    background: #3b3b3b;
}
