.header-container{
    font-family: "Ubuntu Sans", sans-serif;
    display: flex;
    height: 90px;
    background: black;
    padding:40px;
    align-items: center;
    justify-content: space-around;
}

.header__logo-text{
   color:white;
   text-decoration: none;
   font-size: 40px;
}

.header__logo-text div span{
    color:rgb(255, 238, 0);
}

.header__buttons-sign-in{
    border-radius: 5px;
    padding:13px 20px;
    color:white;
    background: #10161D;
    border:none;
    text-align: center;
}

.header__buttons-sign-in:hover{
    background: #3b3b3b;
}


@media screen and (max-width:990px) {
    .header__buttons-sign-in{
        display:none;
    }
}

@media  screen and (max-width:700px) {
    .header__logo-text{
        font-size: 20px;
    }

}

@media  screen and (max-width:350px) {
    .header__logo-text{
        font-size: 15px;
    }
}